<h2 class="welcome">HELLO PPL</h2>

<h3 id="fun">Having a lot
 of fun </h3>

<h1>
    <span>a</span>
    <span>l</span>
    <span>i</span>
    <span>s</span>
    <span>o</span>
    <span>n</span>
 <br>
    <span>w</span>
    <span>a</span>
    <span>l</span>
    <span>k</span>
    <span>e</span>
    <span>r</span>
  </h1>

  <div class="container">
    <svg viewBox="0 0 960 300">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">Alison Walker</text>
      </symbol>
  
      <g class = "g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>
  </div>
